In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error
from scipy import stats

In [2]:
df = pd.read_csv('eMalahleniDaily.csv', sep =';', header=0, index_col=0)

In [3]:
df.head()

,PM2.5,PM10,SO2,NO2,NO,NOx,O3,CO,Amb.Wspeed,Amb.WDirection,Temperature,Amb.RelHum,Amb.Pressure,Rain
date,,,,,,,,,,,,,,
2009/01/01,21.227984,34.760595,15.515978,12.082305,7.822180,19.680003,31.474998,0.468850,2.732855,152.964476,17.433097,67.844262,851.430465,3.574371
2009/01/02,18.105735,32.133487,14.093103,10.729875,7.766156,18.235061,36.524456,0.548023,1.944403,171.479289,18.960468,61.882835,850.748779,0.092105
2009/01/03,7.526583,10.153333,13.837167,40.063375,15.348875,55.412458,17.173542,0.215500,3.107083,108.725833,18.789167,78.771250,850.365417,0.007083
2009/01/04,20.857151,36.860529,19.428187,13.410675,11.207414,24.425953,27.426123,0.874565,2.215236,193.642206,19.007968,61.989501,850.707112,0.092105
2009/01/05,20.689110,35.945529,11.086103,13.800792,9.357731,22.904320,30.379748,0.370857,2.346486,153.299706,19.017134,62.177418,851.043362,0.092105

In [4]:
df.describe()

,PM2.5,PM10,SO2,NO2,NO,NOx,O3,CO,Amb.Wspeed,Amb.WDirection,Temperature,Amb.RelHum,Amb.Pressure,Rain
count,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000
mean,26.007061,50.165895,17.720727,16.288869,11.762916,27.630666,27.538511,0.660222,2.092291,160.094066,17.408327,58.940337,852.985714,0.184607
std,18.130345,34.114697,12.062651,9.592661,10.943009,19.277825,10.638736,1.509652,0.738374,34.986765,3.844838,16.825421,3.538157,0.774580
min,1.481875,1.594333,0.070000,0.008333,0.301333,0.069833,0.061833,0.004167,0.492500,40.167917,4.417917,11.041667,799.470905,0.000000
25%,13.569988,26.692706,9.889948,9.912463,5.362202,15.088198,20.419771,0.311044,1.584583,137.227603,14.853021,48.054271,850.926680,0.000000
50%,21.576292,42.938791,15.379703,14.693437,9.073646,23.540327,27.149912,0.511083,2.085458,161.083578,17.552917,58.608842,852.991724,0.000000
75%,32.699260,63.181104,21.159881,19.674271,13.629521,33.229081,33.122184,0.774729,2.480446,182.731771,20.185521,70.632812,855.024810,0.092105
max,148.271333,290.834167,98.262765,151.765167,114.589417,205.430292,73.451833,85.384667,5.056667,297.242917,29.640000,100.061250,865.132500,15.645833

In [5]:
df.isnull().sum()

PM2.5             0
PM10              0
SO2               0
NO2               0
NO                0
NOx               0
O3                0
CO                0
Amb.Wspeed        0
Amb.WDirection    0
Temperature       0
Amb.RelHum        0
Amb.Pressure      0
Rain              0
dtype: int64

In [20]:
limit = 40
column_name = 'PM2.5'
count = (df[column_name] > limit).sum()
print('Count of values greater than 40 in Column B : ', count)

Count of values greater than 40 in Column B :  636

In [19]:
limit = 40
column_name = 'PM2.5'
column = df[column_name]
count = column[column > limit].count()
print(count)

636

In [ ]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5)
imputed = imputer.fit_transform(df)
df_imputed = pd.DataFrame(imputed, columns=df.columns)

In [ ]:
df_imputed.head()

In [ ]:
df_imputed.describe()

In [ ]:
 df_imputed.to_csv("SecundaIM.csv",  sep =';', header=0)