In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error
from scipy import stats
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
data = pd.read_csv('Secunda.csv', sep =';', header=0, index_col=0)

In [3]:
data.head()

,PM2.5,PM10,SO2,NO2,NO,NOx,O3,CO,Amb Wspeed,Amb WDirection,Temperature,Amb RelHum,Amb Pressure,Rain
Date Time,,,,,,,,,,,,,,
01:00 01/01/2009,9.57,12.02,3.40,NaN,1.23,2.54,NaN,0.04,1.09,212.50,14.78,100.00,847.70,0.0
02:00 01/01/2009,4.89,5.65,3.45,NaN,1.07,2.69,NaN,0.03,1.59,127.76,14.15,100.00,847.47,0.0
03:00 01/01/2009,11.13,12.07,3.13,NaN,1.61,8.11,NaN,0.04,3.01,69.95,14.03,94.95,845.63,0.0
04:00 01/01/2009,9.18,9.86,4.41,NaN,1.43,10.28,NaN,0.03,3.16,59.17,14.33,88.58,844.33,0.0
05:00 01/01/2009,6.78,7.82,3.82,NaN,1.47,7.02,NaN,0.02,2.25,74.02,15.02,81.53,843.33,0.0

In [4]:
rmse = lambda y, yhat: np.sqrt(mean_squared_error(y, yhat))

In [5]:
def optimize_k(data, target):
    errors = []
    for k in range(1, 20, 2):
        imputer = KNNImputer(n_neighbors=k)
        imputed = imputer.fit_transform(data)
        data_imputed = pd.DataFrame(imputed, columns=data.columns)
        
        X = data_imputed.drop(target, axis=1)
        y = data_imputed[target]
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
        model = RandomForestRegressor()
        model.fit(X_train, y_train)
        preds = model.predict(X_test)
        error = rmse(y_test, preds)
        errors.append({'K': k, 'RMSE': error})
        
    return errors

In [6]:
k_errors = optimize_k(data=data, target='PM2.5')

In [11]:
print(k_errors)

[{'K': 1, 'RMSE': 14.283017864250008}, {'K': 3, 'RMSE': 14.190835372191753}, {'K': 5, 'RMSE': 14.367432917390456}, {'K': 7, 'RMSE': 13.815110801431146}, {'K': 9, 'RMSE': 14.130628080833466}, {'K': 11, 'RMSE': 13.93466019646816}, {'K': 13, 'RMSE': 14.027521334781333}, {'K': 15, 'RMSE': 13.995331819108381}, {'K': 17, 'RMSE': 13.858634069756357}, {'K': 19, 'RMSE': 14.140072282470719}]