In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('MIMO3.csv', sep =';', header=0, index_col=0)
values = df.values

In [3]:
df.dropna(how='all')

,PM2.5,PM10,SO2,NO2,NO,NOx,O3,CO,Amb Wspeed,Amb WDirection,...,SNOx,SO3,SCO,SAmb Wspeed,SAmb WDirection,STemperature,SAmb RelHum,SAmb Pressure,SRain,MO3
Date,,,,,,,,,,,,,,,,,,,,,
01:00 01/01/2009,9.3800,13.0650,5.317,3.160,2.873,6.030,38.0850,0.047,4.700,177.660,...,2.540,18.9172,0.040,1.09,212.50,14.78,100.00,847.70,0.00,21.191743
02:00 01/01/2009,12.9220,13.3600,20.670,12.042,2.495,14.537,33.4630,0.040,4.390,194.340,...,2.690,22.9628,0.030,1.59,127.76,14.15,100.00,847.47,0.00,21.191743
03:00 01/01/2009,18.9030,19.3930,31.210,16.608,3.312,19.920,22.5020,0.243,3.600,145.360,...,8.110,30.2664,0.040,3.01,69.95,14.03,94.95,845.63,0.00,21.191743
04:00 01/01/2009,7.5770,7.6980,10.465,1.843,2.037,3.883,43.1830,0.222,4.870,112.730,...,10.280,20.6410,0.030,3.16,59.17,14.33,88.58,844.33,0.00,21.191743
05:00 01/01/2009,5.0230,5.4070,6.683,3.657,2.593,6.248,40.8700,0.063,2.700,99.150,...,7.020,26.0920,0.020,2.25,74.02,15.02,81.53,843.33,0.00,21.191743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19:00 31/12/2018,12.2552,16.2864,7.103,12.043,2.045,14.089,17.0070,0.559,1.416,127.722,...,8.500,6.4580,0.084,1.34,187.85,18.30,89.46,847.05,0.07,21.892000
20:00 31/12/2018,18.0200,34.8600,11.976,22.100,3.900,26.000,12.4250,0.514,2.076,111.652,...,9.043,7.1400,0.098,3.11,147.08,17.57,91.32,847.15,0.03,20.146000
21:00 31/12/2018,12.4430,40.0106,22.510,36.094,16.530,52.624,2.4850,0.599,1.960,137.534,...,8.893,6.3510,0.097,2.15,87.35,17.24,89.25,847.86,0.03,21.824000
22:00 31/12/2018,6.5106,8.6584,16.648,25.629,4.482,30.110,38.0582,0.521,2.010,115.840,...,9.680,5.8220,0.092,1.72,111.39,17.01,90.53,848.06,0.10,22.753000
23:00 31/12/2018,26.3900,45.1634,10.893,16.769,2.382,19.151,9.8910,0.481,1.960,131.706,...,11.091,5.2460,0.094,0.94,137.87,17.04,93.18,848.08,0.07,21.680000

In [4]:
X = values[:,:-1]

In [5]:
Y = values[:,-1]

In [6]:
from sklearn.feature_selection import mutual_info_regression
mi = mutual_info_regression(X, Y)
mi /= np.max(mi)

In [7]:
print(mi)

[0.13923184 0.09905571 0.06237781 0.1631686  0.1574388  0.17976704
 0.46240955 0.20764345 0.34406076 0.24621356 0.38490561 0.23922061
 0.07216102 0.03151137 0.17934298 0.15100115 0.17625896 0.20670195
 0.17638398 0.20744966 0.32146876 0.20661017 0.16446958 0.1739382
 0.37240806 0.28670591 0.15442796 0.01900561 0.12310202 0.10957107
 0.10485696 0.13120458 0.14208739 0.13405841 0.3157666  0.18464885
 0.23829635 0.1281301  0.38180431 0.21166623 0.07589074 0.0652977
 0.74818408 0.72083083 0.62921692 0.76395475 0.86928013 0.86817425
 0.81634822 0.87910542 0.7796706  1.         0.82158848 0.64169066
 0.46335536 0.27909903 0.24320607 0.18577753 0.22067574 0.2515354
 0.26942464 0.32038448 0.30661836 0.36991062 0.22217267 0.504239
 0.41709082 0.22417586 0.02888448]

In [ ]:
def plot_mi_scores(scores):
    scores = scores.sort_values(ascending=True)
    width = np.arange(len(scores))
    ticks = list(scores.index)
    plt.barh(width, scores)
    plt.yticks(width, ticks)
    plt.title("eMalahleni PM2.5 Mutual Information Scores")


plt.figure(dpi=100, figsize=(8, 5))
plot_mi_scores(mi_scores)

In [ ]:
mi.to_csv('MiePM2.5.csv', sep =';')

In [ ]:
sns.lmplot(x = "PM10", y = "PM2.5", hue = "CO", data = df);

In [ ]:
code credit: https://www.kaggle.com/code/ryanholbrook/mutual-information/tutorial